@font-face {
	font-family: 'klavikaboldwebfont';
	src: local('klavikaboldwebfont'), url('./klavikaboldwebfont.woff') format('woff');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_77695">Text with this font applied</p> */
.fontsforweb_fontid_77695 {
	font-family: 'klavikaboldwebfont' !important;
}

/* Font downloaded from FontsForWeb.com */